.cuadrado {
    background-color: #5975b1;
    padding: 40px 10px;
    text-align: center;
    color: white;
    width: 125px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
  }
  
  .cuadrado:hover {
    background-color: #4061a8;
    color: white;
    text-decoration: none;
  }